<%= link_to "Sign in", [:new, :user] %>
<%= form_for :session, url: session_path do |form| %>
  <div>
    <%= form.email_field :email, placeholder: "Email", class: "form-control" %>
  </div>
  <div>
    <%= form.password_field :password, placeholder: "Password", class: "form-control" %>
  </div>
  <div>
    <%= form.submit "Sign in", class: "btn" %>
  </div>
<% end %>
