<h3>Add a new post</h3>
<p id="success"></p>
<p id="error"></p>
<%= form_for [@category, @post] do |form| %>
  <% if @post.errors.any? %>
    <%= render "error_messages", post: @post %>
  <% end %>
<% end %>

<%= form_for @post, id: "new_post" do |form| %>
  <div>
    <%= collection_radio_buttons :post, :category_id, Category.all, :id, :title, label_class: "radio", input_type: "radio" %>
  </div>
  <div>
    <%= form.text_field :title, placeholder: "Post Title", class: "form-control", id: "post_title" %>
  </div>
  <div>
    <%= form.text_area :body, placeholder: "Post Body", class: "form-control", id: "post_body" %>
  </div>
  <div>
    <%= form.text_field :url, placeholder: "Enter Image URL", class: "form-control" %>
  <div>
    <%= form.submit "Post", class: "btn", id: "submit_post"%>
  </div>
<% end %>

<h3>All of the posts on GREGSlist</h3>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search posts:") %>
  <%= text_field_tag(:q, "", class: "form-control") %>
  <%= submit_tag("Search", class: "btn") %>
<% end %>

<div id="posts_list"> 
<% @posts.each do |post| %>
  <h3><%= link_to post.category.region.name, post.category.region %>/<%= link_to post.category.title, post.category %></h3>
  <div>
    <h4><%= link_to post.title, post %></h4>
  </div>
  <div>
    <p><%= post.body %></p>
  </div>
    <p>Date posted: <%= time_tag post.created_at %></p>
  <div>
  <% end %>
</div>
