<h2>Add a new post</h2>

<% if @post.errors.any? %>
  <%= render "error_messages", post: @post %>
<% end %>

<%= form_for @post do |form| %>
  <div>
    <%= collection_radio_buttons :post, :category_id, Category.all, :id, :title, label_class: "radio", input_type: "radio" %>
  </div>
  <div>
    <%= form.text_field :title, placeholder: "Post Title", class: "form-control" %>
  </div>
  <div>
    <%= form.text_area :body, placeholder: "Post Body", class: "form-control" %>
  </div>
  <div>
    <%= form.text_field :url, placeholder: "Enter Image URL", class: "form-control" %>
  <div>
    <%= form.submit "Post", class: "btn" %>
  </div>
<% end %>

<h2>All of the posts on craigstr</h2>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search posts:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search", class: "btn") %>
<% end %>

<% @posts.each do |post| %>
  <h3><%= link_to post.category.region.name, post.category.region %>/<%= link_to post.category.title, post.category %></h3>
  <div>
    <h4><%= link_to post.title, post %></h4>
  </div>
  <div>
    <p><%= post.body %></p>
  </div>
    <p>Date posted: <%= time_tag post.created_at %></p>
  <div>
<% end %>
