<div id="post">
  <h3><%= @post.category.region.name %>/<%= @post.category.title %></h3>
  <h4><%= @post.title %></h4>
  <p><%= @post.body %></p>
  <%= image_tag @post.url %>
  <span class="timestamp">Posted <%= time_tag @post.created_at %></span>
<% if signed_in?%>
  <%= button_to "Mark as spam", [@post, :spams], class: "btn" %>
  <% if current_user.can_delete?(@post) %> 
    <%= button_to "Delete post", @post, method: :delete, class: "btn" %>

    <%= form_for @post do |form| %>
      <div>
        <%= form.text_field :title, placeholder: "Post Title", class: "form-control" %>
      </div>
      <div>
        <%= form.text_area :body, placeholder: "Post Body", class: "form-control" %>
      </div>
      <div>
        <%= form.text_field :url, placeholder: "Enter Image URL", class: "form-control" %>
      </div>
        <%= form.submit "edit post", class: "btn" %>
    <% end %>

    <%= link_to "Edit post", "#", id: "edit-button" %>
  <% end %>

  <%= link_to "Respond to post" , "", id: "post-response" %>
  <%= form_for [@post, @post_response]  do |form| %>
    <%= form.text_area :message, placeholder: "Enter message" %>
    <%= form.submit "Send message" %>
  <% end %>
<% end %>
</div>
