<h2><%= link_to @category.region.name, @category.region %>/<%= @category.title %></h2>
<h3>Posts</h3>
<% if signed_in?%>
  <%= link_to "Create post", [:posts] %>
<% end %>

<ul>
  <%= render @posts %>
  <%= paginate @posts %>
</ul>
