<h2>Make a new post</h2>
<ul id="errors">
  <li id="error"><%= flash[:error] %></li>
</ul>
<%= form_for [@category, @post] do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit "Post", id: "submit_post"  %>
  </div>
<% end %>

<h3>Posts</h3>
<ul id="posts_list">
  <%= render @category.posts %>
</ul>
