<% if signed_in?%>
  <% if current_user.admin? %>
    <h4><%= link_to "Admin dashboard", :admin_dashboard, class: "link" %> |
  <% end %>
    <%= link_to "User dashboard", :dashboard %></h4>
  <% else %>
  <div class="button">
    <%= button_to "Sign in", [:new, :session], method: :get, class: "btn" %>
  </div>
  <div class="button">
    <%= button_to "Sign up", [:new, :user], method: :get, class: "btn" %>
  </div>
<% end %>

<div class="header">
  <p>Search for apartments, jobs, and classifieds</p>
</div>

<% if signed_in? %>
  <% if current_user.admin? %>
    <h4>Add a new region</h4>
    <%= render "new_region", region: @region %>
  <% end %>
<% end %>

<h4>Regions</h4>
<%= render @regions %>
