<div id="map-canvas"></div>
<div class="greg">
  <%= image_tag("craigs-list.png") %>
</div>

<div class="header">
  <p>Search for apartments, jobs, and classifieds</p>
</div>

<% if signed_in? %>
  <% if current_user.admin? %>
    <h4>Add a new region</h4>
      <%= render "new_region", region: @region %>
  <% end %>
<% end %>

<%= javascript_tag do %>
  var regions = <%= raw @regions.to_json %>;
<% end %>

<h4>Regions</h4>
<a name="regions"><h4>Regions</h4></a>
<p>Select a region to create a new post, or just browse current postings</p>
Edit post form to include region
<%= render @regions %>
