<!DOCTYPE html>
<html>
<head>
  <title>Craigstr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= link_to "PovertyList", root_path %></h1>
<% if signed_in? %>
  <p> Signed in as: <%= current_user.email %> </p>
  <%= button_to "Sign out", :session, method: :delete %>
<% end %>
<%= yield %>

</body>
</html>
