<!DOCTYPE html>
<html>
<head>
  <title>Craigstr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg4emOFxn_u2eqxY_W5JGAB3kvu6v6Mts">
  </script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="nav-menu">
    <div id="logo">
      <h1><%= link_to "GREGSlist", root_path %></h1>
    </div>
    <div class="post_button">
      <%= button_to "POST", "/#regions", method: :get, class: "btn btn-embossed btn-primary btn-wide" %>
    </div>
  </div>
  <%= render 'layouts/header' %>
  <%= yield %>
</div>
</body>
</html>
